@import "~vuesax/dist/vuesax.min.css";
@import "~boxicons/css/boxicons.min.css";

.center {
  margin: auto;
  width: 12em;

  #form-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 8em;
  }
}

body {
  background-color: antiquewhite;
  overflow: hidden;
}